.main{
  width: 100%;
  height: 70vh;
  background-color: beige;

}
.main h2{
  text-align: center;
 font-weight: bold;
}
.calc{
  max-width: 500px;
  padding: 10px;

  height: auto;

  justify-content: center;
  background-color: rgb(228, 217, 217)

}

.soma{
  margin-left: 4px;
}
.sub{
  margin-left: 4px;
}
.reset{
  margin-left: 4px;
}

.results{
  max-width: 500px;

  height: auto;

  justify-content: center;
  background-color: #fff;
}

.results p {
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;


}

.main .calc{
 margin-left: 30%;
 margin-right: 30%;
}

.main .results {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 8px;
}

.v2 ,.v1{
  margin-left: 5px;
  font-weight: bold;
}
.v1{
  margin-left: 2px;
  margin-right: 5px;

}

